<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Functional tests suite" verbose="1" parallel ="classes" thread-count ="3" >
 <parameter name ="browser" value ="edge"/>
  <test name="Sanity bucket">
    <classes>
       <class name="com.hema.testng.TestNGparameters"/>
     
    </classes>
  </test>
</suite>

